<section class="phx-hero">
  <div class="devices">
  <%= for device <- @devices do %>
    <%= live_link class: (if device.id == "@changeset.id", do: "device active", else: "device"), to: Routes.live_path(@socket, ExTuyaWebWeb.PageLive, %{device_id: device.id}) do %>
      <img src="<%= device.icon %>" />
      <span class="id"><%= device.name %></span>
    <% end %>
  <% end %>
  </div>
  <%= live_component @socket, ExTuyaWebWeb.ChartComponent, changeset: @changeset %>
</section>